/* Stylesheet for Studio 2 */

* {
  box-sizing: border-box;
}

/* styles for mobile phones; smaller than 768px */
body {
    background-image: url("images/bg.jpg");
}

/*add a background of cherry blossoms to the middleground */
.wrapper {
    background-color: white;
    background-image: url("images/bg3.jpg");
    color: black;
    width: 90%;
    height: 100%;
    margin: auto;
    padding-bottom: 25%;
  }

/*change all the fonts of paragraphs to Raleway and adjust spacing, indents, padding*/
p {
  margin-left: 5px;
  font-family: 'Raleway', sans-serif;
  text-indent: 15px;
  padding: 0 60px;
  font-size: 15px;
  line-height: 23px;
}
/*adjusting headings in alignment and typeface*/
h1 {
  padding-top: 2%;
  padding-bottom: 5%;
}
h1, h2 {
  text-align: center;
  font-family: 'Short Stack', cursive;
}

h3 {
  display: none;
}

/*positioning the close buttons on the overlays */
#close1, #close2, #close3 {
  position: absolute;
  top: 20px;
  right: 20px;
}

#overlay1, #overlay2, #overlay3 {
  display: none;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .95);
  color: white;
  position: absolute;
  height: 100%;
  width: 100%;
}

/*centering images vertically in mobile view*/
img {
  text-align: center;
  margin: 15px auto;
  display: block;
  padding: 5px;
  border-radius: 50%;
}

#overlay1 img, #overlay2 img, #overlay3 img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 50px;
  border-radius: 0%;
}

a:link {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  text-decoration: none;
}

a:visited {
  background-color: rgba(0, 0, 0, 0);
  color: #ffffe6;
}

a:hover {
  background-color: rgba(0, 0, 0, 0);
  color: gray;
}

/* media query for desktop or anything over 768px in width */

@media only screen and (min-width:769px) {
  /*displaying images horizontally in desktop view*/
  img {
    display: inline-block;
    margin-top: 80px;
  }
  #thumbnails {
    display: inline;
    padding-left: 25%;
  }

  p {
    padding: 0 100px;
  }

  .wrapper {
      padding-bottom: 15%;
      background-image: url("images/bg2.jpg");
  }


}

/* Footer styles to fix it at the bottom right of the screen*/
footer {
  margin-top: 25px;
  position: fixed;
  bottom: 10px;
  right: 5%;
}
/* End Footer styles */
