/* Start Structural styles */
.wrapper {
  max-width: 90%;
  width: 70%;
  margin: auto;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
}

/* End Structural styles */

/* Start Body styles */

header {
  padding-top: 20px;
  padding-bottom: 20px;
}

h1 {
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 10px;
}

h2, h4 {
  font-size: 24px;
  text-align: center;
  padding: 5px;
  margin-bottom: 10px;
  text-decoration: underline;
}

h3 {
  text-transform: lowercase;
  font-size: 18px;
  padding-left: 5px;
}

#studio {
  background-color: #FFFFFF;
  color: black;
  margin-top: 20px;
  margin-left: 70px;
  float:left;
  clear:left;
  padding: 48px 100px;
  border-style: dashed;
  border-width: 2px;
  border-radius: 25px;
  border-color: #c5bfef;
}

#project {
  background-color: #FFFFFF;
  color: black;
  margin-top: 20px;
  margin-right: 50px;
  float: right;
  clear:right;
  padding: 48px 100px;
  border-style: dashed;
  border-width: 2px;
  border-radius: 25px;
  border-color: #c5bfef;
}

#mySketch {
  background-color:#ffffff;  /*repeated background color throughout css due to color error in validator */
  color: black;
  border: solid 1px black;
}

#res {
    font-size: 12px;
}

p {
    font-size: 14px;
    text-indent: 20px;
    line-height: 20px;
}

ul {
  list-style-type: disc;
}

.brain {
  list-style-type: none;
}

ul li {
  padding-bottom: 5px;
}

ul li ul {
    list-style-type: none;
    padding-bottom: 5px;
}

ul li ul li {
    margin-left: 25px;
    list-style-type: circle;
    padding-bottom: 5px;
}

ol {
  list-style-type: decimal;
}

a:link, a:visited {
  text-decoration: none;
  background-color: #ffffff;
  color: #000000;
}

a:hover {
  background-color: #ffffff;
  color: #7e6eec;
}

a:active {
  background-color: #ffffff;
  color: #db6eec;
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
/* End Body styles */
/* Start Footer styles */

footer {
   position: fixed;
   clear: both;
   bottom: 0;
   text-align: right;
   width: 70%;
   font-size: 14px;
   padding-top: 10px;
   padding-bottom: 10px;
}

/* End Footer styles */
